{% extends 'base.html.twig' %}

{% block title %}
    Modifier l'article' : {{ post.title }} 
{% endblock %}

{% block body %}
	<h1>Modifier l'article' : {{ post.title }}</h1>
    <img src="{{ asset('/uploads/') }}{{ post.image }}" width="50">
    <br>
    {{ form(editForm) }}
    
{% endblock %}